# Eclipse project files
.project
.classpath
.settings

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Build targets
/target
*/target
/bin

# Report directories
/reports
*/reports

# Mac-specific directory that no other operating system needs.
.DS_Store

# JVM crash logs
hs_err_pid*.log

!.mvn/wrapper/maven-wrapper.jar

# Geany project file
.geany

# KDevelop project file and directory
.kdev4/
*.kdev4